*

!.gitignore

!.config/

!.config/rofi/
!.config/kitty/
!.config/hypr/
!.config/quickshell/

!.config/rofi/**
!.config/kitty/**
!.config/hypr/**
!.config/quickshell/**

.config/hypr/hyprpaper.conf
.config/quickshell/config.json

