*

!.gitignore

!.config/

!.config/rofi/
!.config/niri/
!.config/kitty/
!.config/hypr/
!.config/ghostty/
#!.config/quickshell/
!.config/alacritty/
!.config/yambar/
!.config/nvim/

!.config/rofi/**
!.config/kitty/**
!.config/hypr/**
#!.config/quickshell/**
!.config/niri/**
!.config/ghostty/**
!.config/alacritty/**
!.config/yambar/**
!.config/nvim/**

.config/hypr/hyprpaper.conf
.config/quickshell/config.json
.config/nvim/nvim-pack-lock.json
