// ---------------------------------- MODULE ----------------------------------
$module-color: rgba(58, 58, 58, 0.6);
$module-text-color: rgba(255, 255, 255, 0.8);
$module-border-color: rgba(29, 29, 29, 0.8);

// ---------------------------------- PROGRESS-SLIDER ----------------------------------
$progress-height: 15px;

// ---------------------------------- TEXT ----------------------------------
$text-font-family: "FiraCodeNerdFont";

// ---------------------------------- AVATAR ----------------------------------
$avatar-border-color: rgba(96, 96, 96, 0.8);

* {
  all: unset;
}
