// ---------------------------------- MODULE ----------------------------------
$module-color: rgba(58, 58, 58, 0.6);
$module-text-color: rgba(255, 255, 255, 0.8);

// ---------------------------------- PROGRESS-SLIDER ----------------------------------
$progress-height: 15px;

* {
  all: unset;
}

.topbar {
  background-color: transparent;
}

.module {
  background-color: $module-color;
  color: $module-text-color;
  padding: 0 10px 0 10px;
  border-radius: 30px;
}

.circular-metric {
  min-height: 30px;
  min-width: 30px;
}

.module label {
  font-family: "FiraCodeNerdFont";
  font-weight: bold;
}

.metric trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: $progress-height;
  min-width: 50px;
}

.metric progressbar {
  min-height: $progress-height;
  min-width: 50px;
}

.circular-metric circular-progress {
  min-height: 30px;
  min-width: 30px;
  background-color: #D35D6E;
}

.metric progress {
  all: unset;
  background-color: #D35D6E;
  border-radius: 50px;
  min-height: calc($progress-height - 3px);
}

.workspaces button:hover {
  transition: all 100ms ease-in;
  color: #000000;
}
