@import "colors.scss";
@import "profile/profile.scss";

.topbar {
  background-color: $topbar-color;
}

.module {
  color: $module-text-color;
  padding: 0 10px 0 10px;
  background-color: $module-color;
  border-radius: 30px;
}

.circular-metric {
  min-height: 30px;
  min-width: 30px;
}

.module label {
  font-family: $text-font-family;
  font-weight: bold;
}

.metric trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: $progress-height;
  min-width: 50px;
}

.metric progressbar {
  min-height: $progress-height;
  min-width: 50px;
}

.circular-metric circular-progress {
  min-height: 30px;
  min-width: 30px;
  background-color: #D35D6E;
}

.metric progress {
  all: unset;
  background-color: #D35D6E;
  border-radius: 50px;
  min-height: calc($progress-height - 3px);
}

.workspaces button:hover {
  transition: all 100ms ease-in;
  color: #000000;
}

.active {
  color: gray;
}

.current {
  background-color: black;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
