* {
    bg:          #141414AA;
    bg-selected: #282828D9;
    
    input-bg:    #FFFFFF08;
    input-border:#FFFFFF0D;
    
    fg:          #E0E0E0FF;
    fg-alt:      #8F8F8FFF;
    
    border-color: #383838AA;
    select-border:#FFFFFF1A;
}
