animations {
	workspace-switch {
		off
	}
	horizontal-view-movement {
		spring damping-ratio=0.9 stiffness=800 epsilon=0.0001
	}
	window-movement {
		spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
	}
	window-open {
		duration-ms 150
		curve "ease-out-expo"
	}

	window-close {
		duration-ms 150
		curve "ease-out-quad"
	}
}
