workspace "access"
workspace "social"
workspace "term"
workspace "games"
workspace "untitled"
workspace "programming"

// Global rules

window-rule {
    match is-window-cast-target=true


    focus-ring {
        width 3

        active-gradient from="#3a3a3a00" to="#ff0000" angle=45 relative-to="workspace-view" in="oklch longer hue"
    }
}

window-rule {
    clip-to-geometry true
	open-maximized true
}

// WINDOW RULES

window-rule {
	match app-id="waterfox|firefox|chromium"
	draw-border-with-background false
	open-on-workspace "social"
	block-out-from "screen-capture"
    popups {
        // Matches the default libadwaita pop-up corner radius.
        geometry-corner-radius 9

        background-effect {
            blur true
        }
    }
}

window-rule {
	match app-id="discord"
	open-on-workspace "untitled"
	block-out-from "screen-capture"
}

window-rule {
	match app-id="org.telegram.desktop"
	draw-border-with-background false
	open-on-workspace "social"
	block-out-from "screen-capture"
}

window-rule {
	match app-id="Throne"
	open-on-workspace "access"
	block-out-from "screen-capture"
}

window-rule {
	match app-id="Alacritty"
	open-maximized false
	background-effect {
		blur true
	}
}

window-rule {
    match app-id="viewer"
	open-maximized false
    open-floating true
    baba-is-float true
    background-effect { 
		blur true 
		xray false
    }
}

// Open the Waterfox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Waterfox (app-id is "waterfox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"net.waterfox.waterfox$"# title="^Picture-in-Picture$"
    open-floating true
	open-maximized false
}

// LAYER RULES

layer-rule {
	match namespace="widget"
	match at-startup=true
	block-out-from "screen-capture"
}

layer-rule {
	match namespace="rofi"
	match at-startup=true
	block-out-from "screen-capture"
	geometry-corner-radius 16
	background-effect {
	  blur true
	  xray false
	}
}
